* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.main-body {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 2;
}

.overlay h1 {
    font-size: 3rem;
    margin-top: -30px;
    margin-bottom: 25px;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 1);
}

.valentine-gif {
    width: 300px;
    margin-bottom: 30px;

}

a {
    color:  white;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 10px;
    background: linear-gradient(135deg, #ff4d6d, #ff758f);
    transition: all 0.3s ease;
   
}
.buttons {
    display: flex;
    gap: 20px;
}

.buttons button {
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#yesButton {
    background: linear-gradient(135deg, #ff4d6d, #ff758f);
    color: white;
}

#noButton {
    background: transparent;
    color: black;
    border: 2px solid black;
    font-weight: bold;
}
